body{
    background-color: rgb(88, 88, 88);
}

.page{
    background-color: rgb(165, 165, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px;
    padding: 50px;
    border-radius: 8px;
}
.title{
    margin: 0px 0px 10px 0px;
    background-color: rgb(117, 117, 244);
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    padding: 8px 50px 8px 50px;
}
.subtitle{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    gap: 30px;
    margin: 20px;
}
.pokemon-section{
    margin: 15px;
    padding: 10px;
    background-color: rgb(81, 81, 243);
    border-radius: 6px;
}
.pokemons-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(117, 117, 244);
    padding: 10px;
    border-radius: 5px;
}
.detail-title{
    font-weight: bold;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
    gap: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.change{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.error{
    font-weight: bold;
    color: rgb(189, 20, 20)
}
.success{
    font-weight: bold;
    color: green;
}
button{
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
}
button:hover{
 cursor: pointer;
}
.button-link{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}









