.fuego {
    background-color: rgb(255, 72, 0);
}
.tierra {
    background-color: rgb(168, 105, 47);
}
.agua {
    background-color: rgb(104, 254, 254);
}
.aire {
    background-color: rgb(113, 168, 246);
}