
.footer{
    background-color: var(--color-dark);
}
.content{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}
